
body {
    margin: 0;
    padding: 0;
   
}

/* ---- Final Body ---- */

nav  {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%; 
    background-color: #00036B; 
}
.logoImagen {
    width: 80px;
    height: 80px;
    padding: 10px;
}
.logoImagen:hover {
    transform: scaleY(1.1);
    animation-duration:0.5s;
}
.list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
li {
    list-style: none;  
    margin: 10px;
}

.listNav {
    text-decoration: none;
    color: aqua;
    font-family: 'Nunito', sans-serif, regular;
}

.listNav:hover {
    color: #f2f2f2;
}

/* ---- Final Navbar ---- */


.home {
    padding: 10%;
    margin: 0;
    display: block;
    justify-content: space-between;
    background: url(/assets/background-pagina-arjunafitnessstore.png);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.titleHome {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #f2f2f2;
}
.subtitleHome {
    width: 70%;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin: auto;
    color: #f2f2f2;
}
.botonHome {
    display: block;
    width: 100px;
    text-decoration: none;
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    margin:  auto;
    margin-top: 50px;
}


/* ---- Final Home --- */


.suplementacion {
    padding: 10%;
    margin: 0;
    display: flex;
    justify-content: center;
    background: url(/assets/background-pagina-suplementacion-arjunafitnessstore.png);   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.titleSupp {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    text-align: right;
    color: #f2f2f2;
}

.subtitleSupp {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: right;
    color: #f2f2f2;
}

.imagenProscience {
    width: 30%;
    height: auto;
    margin: auto;
}

.botonSupp {
    width: 100px;
    text-decoration: none;
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    margin:  auto;
    margin-top: 50px;
}
